.container {
	font-family: Verdana;
}

.navbar-nav{
	padding-top: 10px;
	a{
		margin-left: 20px;
	}
}

@media(min-width: 600px){
	.form-signin {
		width: 60%;
	}
}

a:hover {
	text-decoration: none;
	color: navy;
}

.container.form-signin, .about-div, .row {
	box-shadow: 0 0 10px #eee;
	padding: 20px;
}

.form-signin .btn{
	margin-top: 20px;
}

img {
	max-width: 300px;
}

.row {
	margin-bottom: 30px;
}

table { 
	border: 1px solid #eee; 
	border-collapse: collapse;
	td { 
		border-left: 1px solid #eee; 
		&:first-child { 
			border-left: none; 
		}
	} 
}
