{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'polls/style.css' %}" />
<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %}MovieBook{% endblock %}</title>

    <link href="{% get_static_prefix %}lib/bootstrap/dist/css/bootstrap.min.css"/>
</head>

<body>
    <div id="page">
      <div class="container">
        <div class="header clearfix">
          <center>
            <nav>
              <ul class="nav nav-pills pull-right">
                <li role="presentation" class="active">
                  <a href="{%url 'website:login' %}">Начало</a></li>
                <li role="presentation">
                  <a href="{%url 'website:about' %}">
                    За системата
                  </a>
                </li>
              </ul>
            </nav>
          </center>
          <h3 class="text-muted">Movie Book</h3>
        </div>

        <div class="jumbotron">

          <div id="content">

            {% block content %}This is the content area{% endblock %}

            <div class="clearfix"></div>
          </div>

        </div>
    </div>
    </div>

    <script src="{% get_static_prefix %}lib/jquery/dist/jquery.js"></script>
    <script type='text/javascript' src='{% get_static_prefix %}js/movieform.js'></script>
    <script type='text/javascript' src='{% get_static_prefix %}lib/jquery-ui/jquery-ui.js'></script>
</body>
</html>
