{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'polls/style.css' %}" />
<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %}MovieBook Social{% endblock %}</title>
     <link rel='stylesheet' type='text/css' href='http://code.jquery.com/ui/1.9.1/themes/base/jquery-ui.css'/>
    <script type='text/javascript' src='movieform.js'></script>
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.9.1/jquery-ui.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{% get_static_prefix %}css/default.css" >
    <script src="{% get_static_prefix %}js/jquery-2.0.0.min.js"></script>
    <script src="{% get_static_prefix %}js/ajax.js"></script>
    <link href="/static/bootstrap.min.css" rel="stylesheet">
    <link href="signin.css" rel="stylesheet">
    <link href="buttons.css" rel="stylesheet">
    <link href="/static/mov.css" rel="stylesheet">

</head>

<body>
    <h1><center>Welcome to MovieBook</center></h1>
    <div id="page">

    <div id="content">

    {% block content %}This is the content area{% endblock %}

    <div class="clearfix"></div>
    </div>

    </div>

</body>
</html>
