{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %}MovieBook{% endblock %}</title>

    <link rel="stylesheet" type="text/css" href="{% get_static_prefix %}lib/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{% get_static_prefix %}lib/fontawesome/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="{% get_static_prefix %}css/styles.css">
</head>

<body>
    <div id="page" class="container">
        <header class="navbar clearfix">
          <center>
            {% block header %}This is the header area{% endblock %}
          </center>
        </header>

          <div id="content">

            {% block content %}This is the content area{% endblock %}

          </div>
    </div>

    <script src="{% get_static_prefix %}lib/jquery/dist/jquery.js"></script>
    <script type='text/javascript' src='{% get_static_prefix %}js/movieform.js'></script>
    <script type='text/javascript' src='{% get_static_prefix %}lib/jquery-ui/jquery-ui.js'></script>
    <script type='text/javascript' src='{% get_static_prefix %}lib/bootstrap/js/collapse.js'></script>
    <script type='text/javascript' src='{% get_static_prefix %}lib/bootstrap/dist/js/bootstrap.js'></script>
</body>
</html>
