{% extends "base.html" %}

{% block content %}
<center>
    <p>
    <a href="{%url 'website:logged' %}"><input type = "submit" value = 'Назад' class="btn btn-default btn-lg"/></a>
    <input type = "submit" value = 'Добави в любими'  size = "100" class="btn btn-default btn-lg"/>
    <input type = "submit" value = 'Виж любимите си филми' class="btn btn-default btn-lg"/>
    <input type = "submit" value = 'Премахни от любими' class="btn btn-default btn-lg"/>
    <a href="{%url 'website:logout' %}"><input type = "submit" value = 'Излез от профила си' class="btn btn-default btn-lg"/></a>
    </p>
    <center><h2>Информация за филма</h2></center>
    <p><img id = "r" alt = "Cover" src = "{{checked.cover}}"></p>
    <table class = "table table-hover">
    <tr>
        <td><center>Състояние</center></td>
        <td><center>{{checked.status}}</center></td>
    </tr>
    <tr>
        <td><center>Времетраене</center></td>
        <td><center>{{checked.length}}</center></td>
    </tr>
    <tr>
        <td><center>Резюме</center></td>
        <td><center>{{checked.overview}}</center></td>
    <tr>
        <td><center>Заглавие</center></td>
        <td><center>{{checked.title}}</center></td>
    </tr>
    <tr>
        <td><center>Премиера</center></td>
        <td><center>{{checked.release_date}}</center></td>
    <tr>
        <td><center>Оригинално заглавие</center></td>
        <td><center>{{checked.original_title}}</center></td>
    </tr>
    <tr>
        <td><center>Рейтинг</center></td>
        <td><center>{{checked.rating}}</center></td>
    </tr>
    </table>
    <iframe width="840" height="550" src={{checked.trailer}} frameborder="0" allowfullscreen></iframe>
    <br><br>
</center>
{% endblock %}
