{% extends "base.html" %}

{% block header %}
{% include "home-header.html" %}
{% endblock %}

{% block content %}
<div class="container form-signin">
  <h3>Moviebook search</h3>
    <form action="{%url 'website:movies' %}">{% csrf_token %}
    	<div class="form-group">
    		<input type = "text" size = '30' name = "text" class = 'form-control' placeholder = "Въведи филм">
    		<input type = "submit" value = 'Търси филм' class="btn btn-success btn-block"/>
    	</div>
    </form>
</div>
{% endblock %}
