{% extends "base.html" %}

{% block content %}

  {% if form.errors %}
    <p class="error">Sorry, that's not a valid username or password</p>
  {% endif %}

    <div class="container">
      <form class="form-signin" action="{%url 'website:authenticate' %}" method="post">{% csrf_token %}
      <h2 class="form-signin-heading"><center>Вход в системата</center></h2>
        <label for="username">Username:</label>
        <input type="text" class="form-control" name="username" placeholder="Потребителско име" value="" id="username">
        <label for="password">Password:</label>
        <input type="password" class="form-control"name="password" placeholder="Парола" value="" id="password">


        <input type="submit" class="btn btn-lg btn-primary btn-block" value="Влез" />
        {% csrf_token %}
      </form>
      <a href="{%url 'website:register' %}">
      <input class="btn btn-lg btn-primary btn-block" value="Регистрирай се" />
      </a>
    </div>
{% endblock %}

